<div class="wrapper">
  <div class="container">
    <h1>Add a new Article Here:</h1>
    <%= render 'form', article: @article %>
      <div class="go_back_link">
        <%= link_to articles_path do %>
        <button class="btn btn-success"><i class="fas fa-undo"></i>Go Back to Articles List</button>
        <% end %>
      </div>
  </div>
</div>
